:root {
  --primary-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Seymour One', sans-serif;
  --third-font-family: 'DM Sans', sans-serif;

  --primary-text-color: #FCFCFC;
  --secondary-text-color: #131313;
  --text-color-darck: #000000;
  --text-color-light: #ffffff;
  --footer-text-color: #7A7A7A;

  --accent-color: #F8D24E;
  --btn-color-hover: #0A8817;
  --btn-color-disable: #ABABAB;
  --section-background-color: #84A178;
}
